<div class="row">
  <div class="col-sm-12">
    <input id="hashtaginput" class="pull-left hashtag-input" placeholder="#grapevinesyria">
    </input>
    <h4 class="pull-right logo">GRAPEVINE</h4>
  </div>
</div>
