<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="twitterquote.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="markerclusterer.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 map-wrapper">
        <input id="pac-input" class="controls" type="text" placeholder="Find..."></input>
        <div id="map-mount">
        </div>
      </div>
      <div class="col-md-4">
        <%- include header.ejs %>
        <%- include info.ejs %>
        <hr/>
        <%- include official.ejs %>
      </div>
    </div>
  </div>
</body>

<style type="text/css">
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNu_EcDT0lIpB5PzSOL9N8qBdPyaPmpl4&libraries=places,visualization"></script>

<script src="bundle.js"></script>
