<div class="row">
  <div class="col-sm-12">
    <p id="official-information-header"></p>
    <blockquote id="info-blockquote">
      <p id="official-information"></p>
      <footer id="official-information-footer"></footer>
    </blockquote>
  </div>
</div>
